.career-box {
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(21, 21, 21, 0.24);
  background-color: #fbfbfb;
}
.read-more {
  height: 74px;
  border-radius: 5px;
  background-color: #f4f3f3;
  padding: 20px 20px;
  color: #33c9da;
}
