.cart-box {
  border-radius: 5px;
  box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.2);
  border: solid 1px #ffffff;
  background-color: #f7f7f7;
}
hr {
  //border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: #33c9da;
  height: 1px;
}
