.center-box {
  border-radius: 5px;
  box-shadow: 0 0 13px 0 rgba(21, 21, 21, 0.19);
  background-color: #ffffff;
}
.delhi-noida {
  width: 1097px;
  height: 83px;
  border-radius: 5px;
  background-color: #33c9da;
}
.map {
  border-radius: 3px;
  background-color: #ffffff;
}
