.expert-box {
  border-radius: 5px;
  background-color: #ebebeb;
  margin: 20px 0px;
  padding: 20px;
}
.person-box {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}
.img-shadow {
  box-shadow: 0 0 27px 0 rgba(21, 21, 21, 0.08);
  padding: 5px;
}
