.gallery-section {
  border-radius: 5px;
  box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #ffffff;
  background-color: #f6f5f5;
  padding: 40px;
  margin-bottom: 20px;
}
.non-active {
  border-radius: 5px;
  box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.24);
  background-color: #ffffff;
}
