.single-title {
  margin-top: 40px;
  border-radius: 5px;
  background-color: #33c9da;
}
.single-details-box {
  margin-top: 20px;
  padding: 40px 60px;
  border-radius: 5px;
  box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}
.but-single-book {
  border-radius: 5px;
  background-color: #33c9da;
  color: white;
}
.but-single-call {
  border-radius: 5px;
  background-color: #f9aa00;
  color: white;
}
.similar-box {
  padding: 20px;
  border-radius: 5px;
  box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #ffffff;
  background-color: #f6f5f5;
}
.similar-title {
  color: white;
  background-color: #33c9da;
  border-radius: 0px 0px 5px 5px;
  margin-top: -5px;
  padding: 5px;
  position: relative;
  z-index: 9999;
  box-shadow: 0px 5px 5px grey;
}
