.logoCard {
  width: 190px;
  height: 70px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 6px 0 rgba(11, 28, 6, 0.2);
          box-shadow: 0px 5px 6px 0 rgba(11, 28, 6, 0.2);
  background-color: #ffffff;
}

.Saral-Diagnostics-Logo {
  width: 150px;
  height: 42px;
}

.navMenu p {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Helvetica;
  font-weight: 700;
  color: white;
}

.navMenu li a {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.menu-separator {
  font-size: 15px;
  padding-left: 20px;
  padding-right: 10px;
}

.searchbar {
  height: 37px;
  border-radius: 5px;
  -webkit-box-shadow: -1.5px 2.6px 13px 0 rgba(0, 0, 0, 0.1);
          box-shadow: -1.5px 2.6px 13px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #ffffff;
  background-color: #ffffff;
}

.result-box {
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  -webkit-box-shadow: -2px 3.5px 18.3px 2.7px rgba(0, 0, 0, 0.08);
          box-shadow: -2px 3.5px 18.3px 2.7px rgba(0, 0, 0, 0.08);
  border: solid 1px #33c9da;
  background-color: #ffffff;
}

.result-box .res-title {
  color: #22abbb;
  font-weight: bold;
}

.result-box .but-res {
  color: white;
  font-weight: bold;
  background-color: #f9aa00;
}

.result-box .but-res-outline {
  border-style: solid;
  border-color: #f9aa00;
  color: black;
  font-weight: bold;
}

.result-box:hover {
  background-color: #33c9da;
}

.result-box:hover .res-title {
  color: white;
  font-weight: bold;
}

.result-box:hover .but-res {
  color: #33c9da;
  font-weight: bold;
  background-color: white;
}

.result-box:hover .but-res-outline {
  border-style: solid;
  border-color: white;
  color: white;
  font-weight: bold;
}

.searchSuggest {
  padding: 0px 5px;
}

.searchSuggest:hover {
  background-color: #33c9da;
  color: white;
  border-radius: 5px;
}

.single-title {
  margin-top: 40px;
  border-radius: 5px;
  background-color: #33c9da;
}

.single-details-box {
  margin-top: 20px;
  padding: 40px 60px;
  border-radius: 5px;
  -webkit-box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
}

.but-single-book {
  border-radius: 5px;
  background-color: #33c9da;
  color: white;
}

.but-single-call {
  border-radius: 5px;
  background-color: #f9aa00;
  color: white;
}

.similar-box {
  padding: 20px;
  border-radius: 5px;
  -webkit-box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #ffffff;
  background-color: #f6f5f5;
  margin-bottom: 20px;
}

.similar-title {
  color: white;
  background-color: #33c9da;
  border-radius: 0px 0px 5px 5px;
  margin-top: -5px;
  padding: 5px;
  position: relative;
  z-index: 9999;
  -webkit-box-shadow: 0px 5px 5px grey;
          box-shadow: 0px 5px 5px grey;
}

.about-box {
  border-radius: 5px;
  -webkit-box-shadow: -2.5px 4.3px 19.5px 1.5px rgba(21, 21, 21, 0.11);
          box-shadow: -2.5px 4.3px 19.5px 1.5px rgba(21, 21, 21, 0.11);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  padding: 30px;
  font-size: 15px;
}

.about-box1 {
  border-radius: 5px;
  -webkit-box-shadow: -2.5px 4.3px 19.5px 1.5px rgba(21, 21, 21, 0.11);
          box-shadow: -2.5px 4.3px 19.5px 1.5px rgba(21, 21, 21, 0.11);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  font-size: 15px;
}

.ravi {
  width: 100%;
  height: 90%;
  -webkit-box-shadow: -3.5px 6.1px 8.4px 0.6px rgba(21, 21, 21, 0.18);
          box-shadow: -3.5px 6.1px 8.4px 0.6px rgba(21, 21, 21, 0.18);
  border: solid 3px #33c9da;
}

.process {
  border-radius: 5px;
  -webkit-box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #ffffff;
  background-color: #f6f5f5;
  padding: "20px";
}

.career-box {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px 0 rgba(21, 21, 21, 0.24);
          box-shadow: 0 0 7px 0 rgba(21, 21, 21, 0.24);
  background-color: #fbfbfb;
}

.read-more {
  height: 74px;
  border-radius: 5px;
  background-color: #f4f3f3;
  padding: 20px 20px;
  color: #33c9da;
}

.gallery-section {
  border-radius: 5px;
  -webkit-box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: -0.5px 0.9px 10px 0 rgba(0, 0, 0, 0.19);
  border: solid 1px #ffffff;
  background-color: #f6f5f5;
  padding: 40px;
  margin-bottom: 20px;
}

.non-active {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.24);
          box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.24);
  background-color: #ffffff;
}

.center-box {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 13px 0 rgba(21, 21, 21, 0.19);
          box-shadow: 0 0 13px 0 rgba(21, 21, 21, 0.19);
  background-color: #ffffff;
  padding: 20px;
  margin: 20px 0px;
}

.delhi-noida {
  border-radius: 5px;
  background-color: #33c9da;
}

.map {
  border-radius: 3px;
  background-color: #fafafa;
}

.form-box {
  border-radius: 5px;
  border: solid 1px #999999;
  background-color: #ffffff;
  padding: 20px;
}

.panel {
  border-radius: 2px;
  background-color: #fafafa;
  padding: "10px";
  -webkit-box-shadow: inset 0 0 5px #000000;
          box-shadow: inset 0 0 5px #000000;
}

.expert-box {
  border-radius: 5px;
  background-color: #ebebeb;
  margin: 20px 0px;
  padding: 20px;
}

.person-box {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px;
}

.img-shadow {
  -webkit-box-shadow: 0 0 27px 0 rgba(21, 21, 21, 0.08);
          box-shadow: 0 0 27px 0 rgba(21, 21, 21, 0.08);
  padding: 5px;
}

.contact-box {
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 1px 0 rgba(21, 21, 21, 0.46);
          box-shadow: 0px 1px 1px 0 rgba(21, 21, 21, 0.46);
  border: solid 1px #ffffff;
  background-color: #f8f8f8;
  margin: 7px 30px;
  padding: 40px;
}

.faq-box {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.24);
          box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.24);
  background-color: #f9f9f9;
  padding: 40px;
  margin: 30px;
}

.btn-faq {
  -webkit-box-shadow: 0 0 6px 0 rgba(21, 21, 21, 0.05);
          box-shadow: 0 0 6px 0 rgba(21, 21, 21, 0.05);
  background-color: #ffffff;
}

.faq-single {
  margin: 10px 0px;
}

.download-box {
  border-radius: 5px;
  -webkit-box-shadow: -0.5px 0.9px 6px 0 rgba(21, 21, 21, 0.16);
          box-shadow: -0.5px 0.9px 6px 0 rgba(21, 21, 21, 0.16);
  background-color: #f9f8f8;
  padding: 30px;
  margin: 30px 0px;
}

.cart-box {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.2);
          box-shadow: 0 0 9px 0 rgba(21, 21, 21, 0.2);
  border: solid 1px #ffffff;
  background-color: #f7f7f7;
}

hr {
  clear: both;
  display: block;
  width: 96%;
  background-color: #33c9da;
  height: 1px;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../img/homepage_bg.jpg");
  background-size: "auto";
  position: relative;
  z-index: 1;
}

.home-hero-title {
  width: 655px;
  height: 152px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 73px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-top: 20vh;
}

.home-hero-subtitle {
  width: 583px;
  height: 84px;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-top: 20vh;
}

.collection {
  width: 627px;
  height: 100 px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 24px 0 rgba(11, 28, 6, 0.49);
          box-shadow: 0 0 24px 0 rgba(11, 28, 6, 0.49);
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: -8vh;
  position: relative;
  z-index: 2;
}

.collection .collection-mob-card {
  border-radius: 9px;
  -webkit-box-shadow: 0px 3px 8.8px 0.2px rgba(0, 0, 0, 0.28);
          box-shadow: 0px 3px 8.8px 0.2px rgba(0, 0, 0, 0.28);
  background-color: #ffffff;
}

@media only screen and (max-width: 500px) {
  .collection .collection {
    visibility: hidden;
  }
}

.collection .collection-col {
  text-align: center;
  border-width: 0px 1px 0px 0px;
  border-style: dashed;
  padding: 10px 20px;
}

.collection .collection-col span {
  font-size: 15px;
  font-weight: 600;
  color: #299ca8;
  line-height: 0;
}

.collection .collection-col:hover {
  color: white;
  background-color: #299ca8;
}

.collection .collection-col:hover span {
  font-size: 15px;
  font-weight: 600;
  color: white;
  line-height: 0;
}

.hero-2 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/2nd_page_bg.jpg");
  background-size: "auto";
  margin-top: -50px;
}

.Health-Checkup-Packages {
  height: 36px;
  font-family: Helvetica;
  font-size: 31.5px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.98;
  letter-spacing: normal;
  text-align: left;
  color: #33c9da;
}

.hero-3 {
  width: 100%;
  height: 100vh;
  background-image: url("../img/3rd_page_bg.jpg");
  background-size: "auto";
}

.pkg {
  margin-top: 10px;
  margin-right: 50px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 15px;
  font-size: 15px;
}

.pkg .pkg-title {
  color: #33c9da;
  font-size: 22px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pkg .pkg-price {
  color: #33c9da;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.pkg:hover {
  color: white;
  background-color: #33c9da;
}

.pkg:hover .pkg-title {
  color: white;
}

.pkg:hover .pkg-price {
  color: white;
}

.Health-Risk {
  height: 38px;
  font-family: Champagne .Health-Risk Limousines;
  font-size: 51.5px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #33c9da;
}

.risk-card {
  border-radius: 5px;
  -webkit-box-shadow: -0.5px 0.9px 6.9px 0.1px rgba(0, 0, 0, 0.09);
          box-shadow: -0.5px 0.9px 6.9px 0.1px rgba(0, 0, 0, 0.09);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 10px;
  width: 202px;
  height: 329px;
}

.risk-card-mob {
  border-radius: 5px;
  -webkit-box-shadow: -0.5px 0.9px 6.9px 0.1px rgba(0, 0, 0, 0.09);
          box-shadow: -0.5px 0.9px 6.9px 0.1px rgba(0, 0, 0, 0.09);
  border: solid 1px #ffffff;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.slick-slide {
  padding: 0 20px;
}

.slick-slide img {
  display: inline;
}

.slick-list {
  margin: 0 2em;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  margin: 0px -80px;
}

.habit-card {
  width: 200px;
  height: 72px;
  border-radius: 10px;
  -webkit-box-shadow: -0.5px 0.9px 6.9px 0.1px rgba(0, 0, 0, 0.15);
          box-shadow: -0.5px 0.9px 6.9px 0.1px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin: 0 1em;
  padding: 10px;
}

.hero-4 {
  width: 100%;
  height: 30vw;
  background-size: "auto";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20vw;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../img/3rd_page_bg.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/3rd_page_bg.jpg");
}

.modal-backdrop {
  position: relative;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
/*# sourceMappingURL=index.css.map */